## Option 1: Heroes of Pymoli

In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
# purchase_data.head()

### Player Count

In [3]:
# * Total Number of Players
player_count = purchase_data["SN"].nunique()
tot_player = pd.DataFrame([{"Total Player": player_count}])
tot_player

   Total Player
0           576

In [4]:
# # check if there is any missing info
# purchase_data.count()

In [5]:
# #  drop any missing info
# purchase_data=purchase_data.dropna(how='any')
# purchase_data.count()

### Purchasing Analysis (Total)

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [6]:
# Number of Unique Items
num_uni_item = purchase_data["Item ID"].nunique()
# Average Purchase Price
ave_per_price = purchase_data["Price"].mean()
# Total Number of Purchases
tot_num_purc = purchase_data["Price"].count()
# Total Revenue
tot_rev = purchase_data["Price"].sum()

# Purchasing Analysis (Total)
pur_ana_tot = pd.DataFrame([{"Number of Unique Items" : num_uni_item,
                "Average Purchase Price" : (ave_per_price),
                "Total Number of Purchases" : tot_num_purc,
                "Total Revenue" : (tot_rev)},
               ])

pur_ana_tot.style.format({"Average Purchase Price":"${:,.2f}"
               ,"Total Number of Purchases":"${:,.2f}"
              ,"Total Revenue":"${:,.2f}"})
# pur_ana_tot

### Gender Demographics

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [7]:
# copy purchase data
gen_demo_df = purchase_data.copy()

In [8]:
# New data frame for Gender only
purchase_data_gen = gen_demo_df.groupby("Gender")

# find Gender Counts
gender_count = purchase_data_gen["SN"].nunique()

# Calculate percent of player by gender
gen_perc = gender_count*100/purchase_data_gen["SN"].nunique().sum()


df_gen_demographics = pd.DataFrame({"Total Count": gender_count,
                                   "Percentage of Players":gen_perc})





# df_gen_demographics

df_gen_demographics.index.name = None
df_gen_demographics.sort_values(by=['Total Count'],ascending=False).style.format({"Percentage of Players" :'{:,.2f}%'})


## Purchasing Analysis (Gender)

Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
Create a summary data frame to hold the results
Optional: give the displayed data cleaner formatting
Display the summary data frame

In [9]:
# gen_demo_df.groupby(["SN", "Gender"])[["Price"]].sum().reset_index().groupby("Gender")["Price"].mean()
# Group Purchase data by gender
purchase_data_gen = gen_demo_df.groupby("Gender")

# Purchase Count by Gender
purc_gen = purchase_data_gen["Gender"].count()

# Average purchase price by Gender
ave_purc_gen = purchase_data_gen["Price"].mean()

# Total purchase price by gender
tot_purc_gen = purchase_data_gen["Price"].sum()

# Average Total Purchase per person
ave_tot_pur_per_per= tot_purc_gen/purchase_data_gen["SN"].nunique()

# Purchasing Analysis (Gender) data frame
df_purc_ana_gen = pd.DataFrame({"Purchase Count" : purc_gen,
                                "Average Purchase Price" : ave_purc_gen,
                                "Total Purchase Value" : tot_purc_gen,
                                "Avg Total Purchase per Person" : ave_tot_pur_per_per
                                })
df_purc_ana_gen.style.format({"Average Purchase Price" : '${:,.2f}',
                              "Total Purchase Value" : '${:,.2f}',
                              "Avg Total Purchase per Person" : '${:,.2f}'
                             })

### Age Demographics

* Establish bins for ages
* Categorize the existing players using the age bins. Hint: use pd.cut()
* Calculate the numbers and percentages by age group
* Create a summary data frame to hold the results
* Optional: round the percentage column to two decimal points
* Display Age Demographics Table

In [10]:
# copy data
purchase_data_age = purchase_data.copy()

# Cut/bin Data frame using age range
# create range list/bin and labelfor the cut
bins= [0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,1000]
label= ["<10", "10-14", "15-19", "20-24", "25-39", "30-34", "35-39", "40+"]


# Add Age Range column in original data
purchase_data_age["Age Range"] = pd.cut(purchase_data_age["Age"], bins, right=True, labels=label)

# Group by age range
purchase_data_age = purchase_data_age.groupby("Age Range")

# purchase counts in age range
pur_coun_age = purchase_data_age["SN"].nunique()



age_demo = pd.DataFrame({"Total Count" : pur_coun_age,
                         "Percentage of Players" : pur_coun_age/player_count*100
                        })

age_demo.index.name = None
age_demo.style.format({"Percentage of Players" :'{:,.2f}%'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
# average purchase price
ave_pur_pri_age = purchase_data_age["Price"].mean()

# Total Purchase Value
tot_pur_val_age = purchase_data_age["Price"].sum()

# average total purchase per purson
ave_tot_pur_per_per_age=tot_pur_val_age/purchase_data_age["SN"].nunique()

# Data Frame for Purchasing Analysis (Age)

df_pur_ana_age = pd.DataFrame({"Purchase Count":pur_coun_age,
                               "Average Purchase Price":ave_pur_pri_age.map('${:,.2f}'.format),
                               "Total Purchase Value":tot_pur_val_age.map('${:,.2f}'.format),
                               "Avg Total Purchase per Person":ave_tot_pur_per_per_age.map('${:,.2f}'.format)
                              })

df_pur_ana_age.index.name="Age Ranges"
df_pur_ana_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,17,$3.35,$77.13,$4.54
10-14,22,$2.96,$82.78,$3.76
15-19,107,$3.04,$412.89,$3.86
20-24,258,$3.05,"$1,114.06",$4.32
25-39,77,$2.90,$293.00,$3.81
30-34,52,$2.93,$214.00,$4.12
35-39,31,$3.60,$147.67,$4.76
40+,12,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below
* Create a summary data frame to hold the results
* Sort the total purchase value column in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the summary data frame

In [12]:
# group by SN
purchase_data_sn = purchase_data.groupby("SN")


# Find Purchase Cousnt SN
pur_coun_sn = purchase_data_sn["Purchase ID"].nunique()

# Average Purchase Price
avg_purc_price_sn = purchase_data_sn["Price"].mean()

# Total Purchase Value
tot_purc_val_sn = purchase_data_sn["Price"].sum()

# build Data Frame for groupby SN
df_top_spe = pd.DataFrame({"Purchase Count":pur_coun_sn,
                           "Average Purchase Price":avg_purc_price_sn,
                           "Total Purchase Value":tot_purc_val_sn
                          })

# Decending sort
df_top_spe=df_top_spe.sort_values(by=['Total Purchase Value'],ascending=False).head()
df_top_spe.style.format({"Average Purchase Price":"${:,.2f}",
                         "Total Purchase Value":"${:,.2f}"
                         })

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns
* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
* Create a summary data frame to hold the results
* Sort the purchase count column in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the summary data frame

In [13]:
# Group by Item ID and Item Name
purchase_data_id = purchase_data.groupby(["Item ID", "Item Name"])
# purchase_data_id.head()

# Purchase Count
pur_coun_id = purchase_data_id["SN"].nunique()

# Total Purchase Value
tot_val_id = purchase_data_id["Price"].sum()

# Item Price
item_price_id = tot_val_id/pur_coun_id

# Built new data fram
# df_top_item = pd.DataFrame({"Purchase Count":pur_coun_id,
#                             "Item Price":item_price_id.map('${:,.2f}'.format),
#                             "Total Purchase Value":tot_val_id.map('${:,.2f}'.format)
#                            })

df_top_item = pd.DataFrame({"Purchase Count":pur_coun_id,
                            "Item Price":item_price_id,
                            "Total Purchase Value":tot_val_id
                           })

df_top_item_pop=df_top_item.sort_values(by=['Purchase Count'],ascending=False).head()
df_top_item_pop.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the data frame

In [14]:

df_top_item_pro=df_top_item.sort_values(by=['Total Purchase Value'],ascending=False).head()

df_top_item_pro.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})